body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    background: url(Images/cover_2048.jpg) no-repeat center center/cover;
}

.nav-menu {
    /* background: linear-gradient(rgba(95.3, 95.3, 95.3,.3), rgba(95.3, 95.3, 95.3,.5)); */
    background: #fff;
    padding: 30px;
    height: 8rem;
    transition: all .7s;
}

.card-img {
    width: 80;
}

#nav-tab {
    width: 21rem
}

.footerLinkMap {
    overflow-wrap: break-word;
}

.galleryImages {
    height: 13rem;
    width: 19rem;
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}

.menu-item:hover {
    color: #70aed2;
}

.nav-active {
    color: #70aed2;
}

.nav-link {
    /* color: black; */
    color: navy;
}

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#myNavbar {
    z-index: 998;
}

.custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7))
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* z-index: ;     */
}

.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mission {
    background: #151f20;
}

.team {
    background: #151f20;
    text-align: center;
}

.team img {
    height: 200px;
    font-size: 20px;
}

#message {
    border-radius: 1cm;
}

.aboutus {
    background: #151f20;
}

.underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes frontRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.heading:hover {
    opacity: 1;
}

.underline-dark {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}

.gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.active-item {
    color: #70aed2;
}

.customers {
    background: #151f20;
}

.card-1,
.card-2,
.card-3 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(Images/pricing-card-bg.jpeg) center no-repeat /cover;
    box-shadow: 7px 18px 50px #555;
    max-width: 400px;
}

.card-list-item {
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
}

.price-card-button {
    background: #f5593d;
    width: 130px;
    border-radius: 25px;
    box-shadow: 5px 8px 18px #000;
    transition: all .2s;
}

.price-card-button:hover {
    background: #f9793d;
    transform: translateY(-2px);
}

.moveFromLeft {
    animation-name: moveFromLeft;
    animation-duration: 2s;
}

.moveFromRight {
    animation-name: moveFromRight;
    animation-duration: 2s;
}

.moveFromBottom {
    animation-name: moveFromBottom;
    animation-duration: 2s;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact {
    background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, .95) 50%, transparent 50%), url(Images/form-img.jpeg) center center no-repeat /cover;
    rotate: left;
}

.input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all .8s;
}

.input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593d;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.item {
    height: 530px;
}

.owl-dots {
    display: none;
}

.submit-button {
    background: #f5593d;
    color: #eee;
    transition: all .3s;
}

.submit-button:hover {
    background: #f9793d;
    transform: translateY(-3px);
}

.label {
    color: #777;
    display: block;
    margin-top: -70px;
    margin-left: 4pxx;
    font-size: 13px;
    transition: all .3s;
}

.input:placeholder-shown+.label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 226px;
    width: 415px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 226px;
    width: 415px;
}

@media (max-width: 992px) {
    .contact {
        background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, .95))
    }
    .contact-form {
        width: 80%;
        margin: auto;
    }
}

.footer-link {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}

footer a {
    color: white;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#tabs {
    background: white;
    color: black;
    padding: 60px 0;
}

#tabs h6.section-title {
    color: black;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent black;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 13px;
}

#nav-tab {
    border-bottom: none;
}


/* .card-body {
    width: 300px !important;
}

@media only screen and (max-width:468px) {
    .card {
        width: 200px;
    }
}

.card-body {
    width: 247px !important;
}


} */